<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="defaultConfiguration" status="warn" strict="true" monitorInterval="5">
    <Properties>
        <Property name="patternlayout">%d{ISO8601} [%t] %-5level %logger{1.} - %msg%n%throwable{full}</Property>
        <Property name="filename">log/log.log</Property>
        <Property name="filenamePattern">log/log-%d{yyyy-dd-MM}-%i.log.gz</Property>
    </Properties>
    <Appenders>
        <Appender name="Console" type="Console" target="SYSTEM_OUT">
            <Layout type="PatternLayout" pattern="${patternlayout}" />
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="OFF">
            <appender-ref ref="Console" />
        </Root>
    </Loggers>
</Configuration>