# JSVM Main Configuration File

OutputFile              BBB.264   # Bitstream file
FrameRate               24.0       # Maximum frame rate [Hz]
FramesToBeEncoded       50        # Number of frames (at input frame rate)
GOPSize                 8         # GOP Size (at maximum frame rate)
IntraPeriod             16          # Intra Period
BaseLayerMode           2          # Base layer mode (0,1: AVC compatible,
                                   #                    2: AVC w subseq SEI)
SearchMode              4          # Search mode (0:BlockSearch, 4:FastSearch)
SearchRange             32         # Search range (Full Pel)
NumLayers               1          # Number of layers
LayerCfg                layer0.cfg # Layer configuration file
