<div class="custom-container" id="actorDetails">

<h1>
    {{gCtrl.formatToHtml(ctrl.actorName)}}
</h1>
<div id="patchActorAlert" ng-show="gCtrl.getAlert('patchActorAlert') == true"  class="alert alert-success" role="alert">
  <button type="button" class="close" aria-label="Close" ng-click="gCtrl.clearAlert('patchActorAlert');"><span aria-hidden="true">&times;</span></button>
  Actor successfully updated!
</div>

<div ng-show="ctrl.patchActorName && (gCtrl.isAdmin() || ctrl.isProjectLeader || gCtrl.isAnalyst(ctrl.projectName))">
    <p>
        <input type="text" ng-model="ctrl.newActorName">
        <button class="btn btn-success" ng-click="ctrl.updateActorName()">
            <span class="glyphicon glyphicon-ok"></span> Save
        </button>
        <button class="btn btn-danger" ng-click="ctrl.patchActorName = false">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </p>
</div>

<div ng-show="!ctrl.patchActorName && (gCtrl.isAdmin() || ctrl.isProjectLeader || gCtrl.isAnalyst(ctrl.projectName))">
    <p ng-hide="ctrl.actorName == 'System'">
        <button class="btn btn-warning" ng-click="ctrl.patchActorName = true; ctrl.newActorName = gCtrl.formatToHtml(ctrl.actorName)">
          <span class="glyphicon glyphicon-pencil"></span> Edit actor name
        </button>
        <button class="btn btn-danger" ng-click="ctrl.deleteActor()" ng-show="ctrl.referencesLoaded">
          <span class="glyphicon glyphicon-remove"></span> Delete actor
        </button>
    </p>
</div>

<hr />

<table class="table table-hover">
<tbody>
<tr>
    <td class="header-td col-xs-2">
        Project name:
    </td>
    <td>
        {{gCtrl.formatToHtml(ctrl.projectName)}}
    </td>
</tr>
<tr>
    <td class="header-td col-xs-2">
        Actor name:
    </td>
    <td>
        {{gCtrl.formatToHtml(ctrl.actorName)}}
    </td>
</tr>
</tbody>
</table>

<h3>Actor referenced by:</h3>

<div ng-show="ctrl.referencesLoaded">
<table class="table table-hover" ng-hide="ctrl.references.length == 0">
    <thead>
    <th class="col-xs-4">
    Entity name
    </th>
    <th>
    Type
    </th>
    </thead>
    <tr ng-repeat="reference in ctrl.references">
    <td class="col-xs-4" ng-show="reference.type == 'usecase'">
        <a ng-href="#/projects/{{gCtrl.currentProject}}/usecases/{{reference.name}}" ng-click="gCtrl.update()">
        <button class="btn">
        <span class="glyphicon glyphicon-info-sign"></span> {{gCtrl.formatToHtml(reference.name)}}
        </button>
        </a>
    </td>
    <td class="col-xs-4" ng-show="reference.type == 'concept'">
        <a ng-href="#/projects/{{gCtrl.currentProject}}/concepts/{{reference.name}}" ng-click="gCtrl.update()">
        <button class="btn">
        <span class="glyphicon glyphicon-info-sign"></span> {{gCtrl.formatToHtml(reference.name)}}
        </button>
        </a>
    </td>
    <td class="col-xs-4" ng-show="reference.type == 'actor'">
        <a ng-href="#/projects/{{gCtrl.currentProject}}/actors/{{reference.name}}" ng-click="gCtrl.update()">
        <button class="btn">
        <span class="glyphicon glyphicon-info-sign"></span> {{gCtrl.formatToHtml(reference.name)}}
        </button>
        </a>
    </td>
    <td class="central-td">
    {{reference.type}}
    </td>
    </tr>
</table>
<p class="empty-message" ng-show="ctrl.references.length == 0">
    There are no references to this actor...
</p>
</div>

<div ng-hide="ctrl.referencesLoaded">
<p class="empty-message" ng-show="ctrl.references.length == 0">
    References to this actor could not be loaded...
</p>
</div>

</div>
